body {
  margin: 0;
  padding: 0;
  font-size:20px;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  font-size: 62.5%;
}
  @media(max-width: 1200px) { 
    html{
    font-size: 56.25%;
    }
  }
  @media(max-width: 900px) { 
    html{
    font-size: 50%;
    }
  }
  @media(max-width: 600px) { 
    html{
    font-size: 43.75%;}
  }
  @media(min-width: 1800px) { 
    html{
    font-size: 75%;
    }
  }
